<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE beans PUBLIC      
"-//SPRING//DTD BEAN//EN"     
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/jdbc/jdbc.properties" />
    </bean>
	<!-- 数据源配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="preferredTestQuery">
			<value><![CDATA[SELECT NULL::"unknown";]]></value>
		</property>
		<property name="driverClass">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:postgresql://192.168.100.240:5432/medical_server</value>
		</property>
		<property name="user">
			<value>postgres</value>
		</property>
		<property name="password">
			<value>postgres</value>
		</property>
		<property name="initialPoolSize">
			<value>5</value>
		</property>
		<property name="minPoolSize">
			<value>2</value>
		</property>
		<property name="maxPoolSize">
			<value>10</value>
		</property>
		<property name="acquireIncrement">
			<value>5</value>
		</property>
		<property name="maxIdleTime">
			<value>30</value>
		</property>
		<property name="maxStatements">
			<value>0</value>
		</property>
	</bean>
</beans>   
