<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE beans PUBLIC      
"-//SPRING//DTD BEAN//EN"     
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

<!-- 
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="mapperLocations" >
            <list>
                <value><![CDATA[classpath*:mapper/*.xml]]></value>
            </list>
        </property>
        <property name="dataSource" ref="dataSource" />
    </bean>
 -->
 
     <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="plugins" >
            <list>
                <bean class="mybatis.intercepts.PagingInterceptor"></bean>
            </list>
        </property>
        <property name="mapperLocations" >
            <list>
                <value><![CDATA[/WEB-INF/mbs_mapper/*.xml]]></value>
            </list>
        </property>
        <property name="dataSource" ref="dataSource" />
    </bean>
    


</beans>
