<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean id="policyAction" class="action.PolicyAction" scope="prototype">
		<property name="policyBiz" ref="policyBiz"></property>
	</bean>
	
	<bean id="videoAction" class="action.VideoAction" scope="prototype">
		<property name="videoBiz" ref="videoBiz"></property>
	</bean>
	
	<bean id="caseAction" class="action.CaseAction" scope="prototype">
		<property name="caseBiz" ref="caseBiz"></property>
	</bean>

	<bean id="multicenterAction" class="action.MulticenterAction" scope="prototype">
		<property name="multicenterBiz" ref="multicenterBiz"></property>
	</bean>
	
	<bean id="educationAction" class="action.EducationAction" scope="prototype">
		<property name="educationBiz" ref="educationBiz"></property>
	</bean>
</beans>
