<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC      
"-//SPRING//DTD BEAN//EN"     
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="policyBiz" class="biz.PolicyBizI">
		<property name="policyDao" ref="policyDao"></property>
	</bean>
	
	<bean id="videoBiz" class="biz.VideoBizI">
		<property name="videoDao" ref="videoDao"></property>
	</bean>
	
	<bean id="caseBiz" class="biz.CaseBizI">
		<property name="caseDao" ref="caseDao"></property>
	</bean>

	<bean id="multicenterBiz" class="biz.MulticenterBizI">
		<property name="multicenterDao" ref="multicenterDao"></property>
	</bean>
	
	<bean id="educationBiz" class="biz.EducationBizI">
		<property name="educationDao" ref="educationDao"></property>
	</bean>
</beans>
