<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC      
"-//SPRING//DTD BEAN//EN"     
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="introductionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.IntroductionDao"/>
		<property name="sqlSessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="storyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.StoryDao"/>
		<property name="sqlSessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="topicDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.TopicDao"/>
		<property name="sqlSessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="remoteDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.RemoteDao"/>
		<property name="sqlSessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="patentDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.PatentDao"/>
		<property name="sqlSessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="searchDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.SearchDao"/>
		<property name="sqlSessionFactory" ref="sessionFactory" />
	</bean>

</beans>
